body{
    background:#303030;
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
.top{
    height:200px;
    background:blue;
    display:flex;
    width:100vw;
    justify-content: space-around;
    align-items: center;
    font-size:50px;
}
.topNonLogged{
    height:200px;
    background:red;
    display:flex;
    width:100vw;
    justify-content: space-around;
    align-items: center;
    font-size:50px;
}
.sgs{
    height:100px;
    background:pink;
    display:flex;
    width:100vw;
    justify-content: space-around;
    align-items: center;
    font-size:30px;
}
.logowanie{
    height:400px;
    width:250px;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:auto;
    text-align:center;
    color:#06d6a0;
}
.logowanie input{
    height:40px;
    width:200px;
    margin:10px;
    color: #06d6a0;
    border: 2px solid #06d6a0;
    text-align:center;
    background: #303030;
    border-radius:50px;
    outline:none;
}
.logowanie button{
    background-color: #303030;
    color: #06d6a0;
    border: 2px solid #06d6a0;
    width:150px;
    height:30px;
    margin-top:10px;
}
a{
    color:white;
    text-decoration: none;
}
h1{
    color:white;
    font-size:100px;
    text-align:center;
    opacity: 30%;
}